set -euo pipefail

source .direnvrc

eval "$(lorri direnv)"

update-cargo-deps() {
  pushd "${DIRENV_DIR/-/}" >/dev/null
  cargo generate-lockfile
  cargo2nix -f
}
export_function update-cargo-deps

helpme() {
    echo -e "\n\
\e[36;1mupdate-cargo-deps\e[m: update cargo dependencies after editing Cargo.toml
\e[36;1mhelpme\e[m: show this man
"
}
export_function helpme

helpme
